body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f99e;
}

h1, h2 {
    color: coral;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

span {
    color: lavender;
}

a {
  color: rgb(0, 0, 148);
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: chartreuse;
}

p {
    margin-bottom: 1.2rem;
    color: lavender;
}

li {
    margin-bottom: 0.4rem;
    color: lavender;
}

img {
    max-width: 100%;
    height: auto;
    
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 1rem;
}

#about, #Skills, #contacts, #experience {
    background-color: #5875cb;
    padding: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2, #Skills h2, #contacts h2, #experience h2 {
    margin-top: 0;
}

#contacts a, #experience a {
    color: #333;
    text-decoration: none;
}

#contacts a:hover, #experience a:hover {
    color: #007bff;
}